body {
  background-color: #282828;
  zoom: 25%;
}

main {
  position: fixed;
  top: 230px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  height: 1700px;
  width: 2100px;
  background-color: #32302f;
  border: 1px solid #73685e;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 20px;
  flex-shrink: 0;
}

.route-title {
  color: #d4be98;
  font-family: "roboto";
  font-weight: 500;
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  flex-shrink: 0;
}

.start-text {
  color: #d3859b;
}

.finish-text {
  color: #7caea3;
}

.suggestions-box {
  width: 2100px;
  background-color: #282828;
  color: #d4be98;
  border: 1px solid #73685e;
  border-radius: 20px;
  font-family: "roboto";
  font-size: 75px;
  margin-top: 10px;
  flex-shrink: 0;
}

.suggestions-list {
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.suggestion {
  cursor: pointer;
  padding: 10px 0px 10px 40px;
}

.suggestion:hover {
  background-color: #73685e;
}

.hint-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  flex-shrink: 0;
}

.hint-button {
  color: #d4be98;
  background-color: #282828;
  font-family: "roboto";
  font-weight: 500;
  padding: 30px 40px;
  border: 1px solid #d4be98;
  border-radius: 20px;
  cursor: pointer;
  font-size: 60px;
  text-align: center;
}

.hint-button:hover {
  background-color: #d4be98;
  color: #282828;
}

.hint-text {
  color: #d4be98;
  font-family: "roboto";
  font-size: 60px;
  font-weight: 500;
}
