.guessList {
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--font-lg);
  text-align: center;
  margin-top: var(--space-md);
}

.guessList ul {
  list-style: none;
}
